trigger:
  branches:
    include:
      - main

pool:
  name: 'local-lab'
  vmImage: 'ubuntu-latest'

resources:
  pipelines:
    - pipeline: cluster-base
      source: ParksBra.home-k8s-cluster-base
    - pipeline: platform
      source: ParksBra.home-k8s-platform
  repositories:
    - repository: templates
      type: github
      endpoint: ParksBra
      ref: initial_development
      name: ParksBra/home-k8s-ado-templates

    - repository: terraform-platform-network
      type: github
      endpoint: ParksBra
      ref: migrate_to_self_contained
      name: ParksBra/home-k8s-tf-platform-network

    - repository: terraform-platform-storage
      type: github
      endpoint: ParksBra
      ref: migrate_to_self_contained
      name: ParksBra/home-k8s-tf-platform-storage

parameters:
  - name: terraformValidate
    displayName: 'Enable Terraform Validation Before Plan'
    type: boolean
    default: true

  - name: terraformApply
    displayName: 'Enable Terraform Apply After Plan'
    type: boolean
    default: true

  - name: terraformPlanDestroy
    displayName: 'Terraform Plan Destruction'
    type: boolean
    default: false

stages:
  - stage: "serviceHaenvDeployment"
    displayName: "Homeassistant Environment Service Deployment"
    variables:
      - group: home-k8s-cluster
      - group: home-k8s-terraform
    jobs:
      - job: "applyHaenvService"
        displayName: "Apply Homeassistant Environment Service Terraform"
        steps:
          - task: Bash@3
            displayName: "Install OpenSSL as Prerequisite for Mosquitto Password Hashing"
            inputs:
              targetType: 'inline'
              script: |
                sudo apt-get update
                sudo apt-get install -y openssl

          - template: apply-terraform.yml@templates
            parameters:
              kubeconfigArtifactFileName: "kubeconfig"
              kubeconfigArtifactName: "kubeConfig"
              kubeconfigArtifactSourcePipeline: "cluster-base"
              terraformPlatformRepository: "self"
              terraformPlatformRepositoryTerraformPath: "terraform"
              terraformVersion: "latest"
              terraformBackendNamespace: "kube-system"
              terraformBackendSuffix: "service-haenv"
              terraformVariables: []
              terraformExtraEnvironmentVariables:
                - name: CLOUDFLARE_API_TOKEN
                  value: $(home-k8s-terraform-provider-cloudflare-api-token)
              terraformValidate: ${{ parameters.terraformValidate }}
              terraformPlanDestroy: ${{ parameters.terraformPlanDestroy }}
              terraformApply: ${{ parameters.terraformApply }}

